<div class="four wide column center aligned votes" #closeArt>
  <div class="ui statistic">
    <div class="value">
      {{article.votes}}
    </div>
    <div class="label">
      Points
    </div>
  </div>
</div>
<div class="twelve wide column">
  <a href="{{article.link}}" class="ui large header">
    {{article.title}}
  </a>
  <button class="ui mini right floated icon button" (click)="removeArticle(article)">
    <i class="remove icon"></i>
  </button>
  <div class="sub header">({{ article.domain() }})</div>
  <ul class="ui big horizontal list voters">
    <li class="item">
      <a (click)="voteUp()">
        <i class="arrow up icon"></i> upvote
      </a>
    </li>
    <li class="item">
      <a (click)="voteDown()">
        <i class="arrow down icon"></i>downvote
      </a>
    </li>
  </ul>
</div>
