<form action="" class="ui large form segment" [formGroup]="articleForm" *ngIf="active" (ngSubmit)="addArticle()">
  <h3 class="ui header">Add a link</h3>
  <div class="field">
    <label for="title">Title:</label>
    <input type="text" formControlName="title">
    <!--ui.form 不支持error.message类-->
    <div class="ui negative message" *ngIf="formErrors.title">
      <strong>{{formErrors.title}}</strong>
    </div>
  </div>
  <div class="field">
    <label for="link">Link:</label>
    <input type="text" formControlName="link">
    <div class="prompt label" *ngIf="formErrors.link">
      <strong>{{formErrors.link}}</strong>
    </div>
  </div>
  <button class="ui positive right floated button" type="submit" [disabled]="!articleForm.valid">
    Submit Link
  </button>
</form>
<div class="ui grid posts">
  <reddit-article [article]="article" *ngFor="let article of sortedArticles()"></reddit-article>
</div>
